

.cards{
 margin-top: 100px;
display: grid;
justify-items: center;
gap: 20px;
grid-template-columns: repeat(3, 1fr);
font-family: "inter";
font-weight: 900;
font-size: 1.2rem;
max-width: 880px;
margin-left: 200px;

}

@media screen and (max-width:320px) {
  .cards{
   display: grid;
   width: 320px;
   margin-left: 0px;
   grid-template-columns: repeat(1, 1fr);
 }
  }


.cards__one{
width: 282px;
height: 361px;
background-color: #ffff;
border-radius: 5%;
}

.cards__one-image{
  width: 282px;
  height: 282px;
  border-radius: 5%  5% 0  0;
}
.cards__one-heart.select {
  background-image: url(../images/active_heart.svg);
}

.cards__one-name{
  margin-left: 20px;
  display: block ruby;
  font-weight: 900;
}

.cards__one-trash{
  width: 18px;
  height: 19.3px;
  border: none;
  z-index: 1;
  background-image: url(../images/trash.svg);
  position: absolute;
  margin-left: 250px;
  margin-top: 10px;
  background-color: transparent;

}

.cards__one-trash:hover{
  cursor: pointer;
  opacity: 0.5;
}

.cards__one-heart{
  width: 21px;
  height: 19px;
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: url(../images/heart.svg);
  background-color: #ffff;
}
.cards__one-heart:hover{
  cursor: pointer;
  opacity: 0.5;
}
.cards__two{
  width: 282px;
height: 361px;
background-color: #ffff;
border-radius: 5%;

}
.cards__two-image{
  width: 282px;
  height: 282px;
<<<<<<< HEAD
  border-radius: 5% 5% 0  0;
=======
  border-radius: 5% 5% 0 0;
>>>>>>> 11173c7e75da362b5878287645029ca3d32a1275
}

.cards__two-name{
  margin-left: 20px;
  display: block ruby;
}

.cards__three{
  width: 282px;
height: 361px;
background-color: #ffff;
border-radius: 5%;

}
.cards__three-image{
  width: 282px;
  height: 282px;
  border-radius: 5% 5%  0  0;
}

.cards__three-name{
  margin-left: 20px;
  display: block ruby;
}
.cards__for{
  width: 282px;
height: 361px;
background-color: #ffff;
border-radius: 5%;
}
.cards__for-image{
  width: 282px;
  height: 282px;
<<<<<<< HEAD
  border-radius: 5% 5% 0 0;
=======
  border-radius: 5% 5% 0  0;
>>>>>>> 11173c7e75da362b5878287645029ca3d32a1275
}

.cards__for-name{
  margin-left: 20px;
  display: block ruby;
}


.cards__five{
  width: 282px;
height: 361px;
background-color: #ffff;
border-radius: 5%;
}
.cards__five-image{
  width: 282px;
  height: 282px;
<<<<<<< HEAD
  border-radius: 5% 5% 0 0;
=======
  border-radius: 5% 5% 0  0;
>>>>>>> 11173c7e75da362b5878287645029ca3d32a1275
}

.cards__five-name{
  margin-left: 20px;
  display: block ruby;
}


.cards__six{
  width: 282px;
height: 361px;
background-color: #ffff;
border-radius: 5%;

}

.cards__six-image{
  width: 282px;
  height: 282px;
  border-radius: 5% 5% 0  0;
}

.cards__six-name{
  margin-left: 20px;
  display: block ruby;
}
