
.header{
  background-color: black;
  width: 882px;
  height: 74px;
  padding-top: 45px;
  margin-left: 199px;
  border-bottom: 1.5px solid #545454;
}

@media screen and (max-width:320px) {
.header{
  margin-left: 0px;
}
}







