.page{
  background-color: black;
  margin: auto;
 max-width: 1280px;
}

.body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.main{
  margin-top: 50px;
}

.footer{
color: #ffff;
justify-content: center;
display: flex;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 100px;
  width: 550px;
  background-color: transparent;
}

.modal-content {
  margin: auto;
  display: block;
  width: 433px;
  height: 540px;
}

@media screen and (max-width:320px) {
  .modal-content{
width: 250px;
height:322px;
margin-top: 300px;
 }
  }

.close {
  background-image: url(../images/Close\ Icon.svg);
  width: 33px;
  height: 33px;
  position: absolute;
  top: -35px;
  right: 20px;
  font-size: 0px;
}

@media screen and (max-width:320px) {
  .close{
    top: 250px;
    width: 150px;
    background-repeat: no-repeat;
 }
  }

.close:hover{
  cursor:pointer;
  opacity: 0.5;
}