.popup {
  width: 430px;
  height: 330px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  z-index: 999;
  border-radius: 3%;
  font-family: "inter";

}

@media screen and (max-width:320px) {
  .popup{
width: 250px;
height:322px;
margin-top: 300px;
left: 160px;
  top: 0px;
 }
  }

  @media screen and (max-width:320px) {
    .popup__add{
  width: 250px;
  height:322px;

   }
    }

.popup__close-edit{
  background-image: url(../images/Close\ Icon.svg);
  width: 40.7px;
  height: 40.7px;
  position: absolute;
  background-color: black;
  border: none;
  background-repeat: no-repeat;
  top: -40px;
  left: 470px;
}
@media screen and (max-width:320px) {
  .popup__close-edit{
    left: 260px;
 }
  }


.popup__close-edit:hover{
  cursor:pointer;
  opacity: 0.50;
}
.popup__close-add{
  background-image: url(../images/Close\ Icon.svg);
  width: 40.7px;
  height: 40.7px;
  position: absolute;
  background-color: black;
  border: none;
  background-repeat: no-repeat;
  top: -40px;
  left: 470px;
}

@media screen and (max-width:320px) {
  .popup__close-add{
    left: 260px;
 }
  }
.popup__close-add:hover{
  cursor:pointer;
  opacity: 0.50;
}
.popup__container{
width: 420px;
height:320px;
display: grid;

}

@media screen and (max-width:320px) {
  .popup__container{
width: 250px;
height:322px;
 }
  }
