.porfile__title {
  font-weight: 500;
  font-size: 2.6rem;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 320px) {
  .porfile__title {
    font-size: 1.5rem;
  }
}

.porfile__subtitle {
  font-weight: 400;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 320px) {
  .porfile__subtitle {
    font-size: 0.8rem;
  }
}

.porfile__content {
  width: 882px;
  height: 120px;
  padding-left: 199px;
  color: #fff;
  display: flex;
  font-family: "inter";
}

@media screen and (max-width: 320px) {
  .porfile__content {
    padding-left: 100px;
    display: inline;
  }
}

.porfile__text {
  padding-left: 50px;
  width: 444px;
  height: 77px;
}

.porfile__edit-button {
  width: 24px;
  height: 24px;
  margin-top: 40px;
  background-image: url(../images/Edit\ Button.svg);
  background-color: black;
  border-style: hidden;
}

@media screen and (max-width: 320px) {
  .porfile__edit-button {
    margin-left: 50px;
  }
}

.porfile__edit-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.porfile__add-button {
  width: 150px;
  height: 50px;
  margin-top: 30px;
  background-image: url(../images/Add\ Button.svg);
  background-color: black;
  margin-left: auto;
  border-style: hidden;
}
@media screen and (max-width: 320px) {
  .porfile__add-button {
    margin-left: 50px;
  }
}

.porfile__add-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
