.popup-tarjeta {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup-tarjeta__container {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.popup-tarjeta_opened {
  display: flex;
}

.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 70px;
}

.popup__container-close-button {
  position: absolute;
  right: -30px;
  top: -35px;
  border: none;
  background-size: cover;
  cursor: pointer;
  background-color: transparent;
}

.popup__container-close-button:hover {
  opacity: 0.5;
}

.popup__container-close-button-image {
  width: 20px;
  height: 20px;
}

.popup-tarjeta__container-save-button_disabled {
  background-color: #ffffff;
  color: #666;
  cursor: not-allowed;
  border: 1px solid #666;
}

@media (min-width: 768px) {
  .popup-tarjeta__container {
    width: 375px;
  }

  .popup-tarjeta__container-place {
    font-size: 21px;
    font-weight: 785;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }
}
